.article {
    background: #d1e2d1;
    padding: var(--normal-padding);
    margin-bottom: 6px;
    &__content {
      font-size: smaller;
      padding: var(--small-padding);
      min-height: 50px;
      min-width: 100%;
      display: block;
      border: none;
      border-radius: 5px;
      margin-top: 16px;
    }
    &__option {
      padding: var(--small-padding);
      font-size: smaller;
      border: none;
      border-radius: 5px;
      margin-top: 5px;
      display: block;
      width: 100%;
    }
    &__radio {
      display: flex;
      justify-content: center;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
    &__1 {
      grid-column-start: 1;
      grid-column-end: span 2;
    }
    &__2 {
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &__3 {
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &__4 {
      grid-row-start: 3;
      grid-row-end: 4;
    }
    &__5 {
      grid-row-start: 4;
      grid-row-end: 5;
    }
    &__6 {
      grid-row-start: 3;
      grid-row-end: span 2;
    }
  }