.header {
  font-size:16px;
  background: #cbf1f9;
  background: linear-gradient(
    132deg,
    #cbf1f9 0%,
    rgba(24, 111, 23, 0.650298) 42%,
    #181515 100%
  );
  min-width: 100vw;
  &__date {
    color: white;
    margin: 26px 6px;
  }
  &__dark {
    color: white;
    margin: 26px 6px;
  }
  &__position {
    display: flex;
    justify-content: space-around;
  }
}
