.reset {
    display: flex;
    justify-content: flex-end;
    margin: 16px 0px;
    grid-column-start: 1;
    grid-row-start: 5;
    &__button {
      background: rgba(24, 111, 23, 0.650298);
      padding: var(--normal-padding);
      border: none;
      border-radius: 5px;
      width: 90px;
      color:var(--text-color);
      &:hover {
        border: 2px solid rgba(20, 80, 19, 0.65);
      }
    }
  }